In [1]:
# load libraries
import pandas as pd
import numpy as np

In [6]:
# load data
holidays_events = pd.read_csv("holidays_events.csv")
oil = pd.read_csv("oil.csv")
stores = pd.read_csv("stores.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
transactions = pd.read_csv("transactions.csv")

In [7]:
# clean and join data
train["data_type"] = "train"
test["data_type"] = "test"
test["sales"] = np.NaN

set_cols = ["id", "date", "store_nbr", "family", "onpromotion", "data_type", "sales"]
train = train[set_cols]
all = pd.concat([train, test]).set_index("id")

all = all \
    .merge(
        transactions, 
        how="left", 
        left_on=["date", "store_nbr"], 
        right_on=["date", "store_nbr"]) \
    .merge(
        stores.rename(columns={"type":"store_type"}), 
        how="left", 
        left_on="store_nbr", 
        right_on="store_nbr")

all["date"] = pd.to_datetime(all["date"])

all.tail()

,date,store_nbr,family,onpromotion,data_type,sales,transactions,city,state,store_type,cluster
3029395,2017-08-31,9,POULTRY,1,test,NaN,NaN,Quito,Pichincha,B,6
3029396,2017-08-31,9,PREPARED FOODS,0,test,NaN,NaN,Quito,Pichincha,B,6
3029397,2017-08-31,9,PRODUCE,1,test,NaN,NaN,Quito,Pichincha,B,6
3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,9,test,NaN,NaN,Quito,Pichincha,B,6
3029399,2017-08-31,9,SEAFOOD,0,test,NaN,NaN,Quito,Pichincha,B,6

In [8]:
# check datatypes
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029400 entries, 0 to 3029399
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   store_nbr     int64
 2   family        object
 3   onpromotion   int64
 4   data_type     object
 5   sales         float64
 6   transactions  float64
 7   city          object
 8   state         object
 9   store_type    object
 10  cluster       int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(5)
memory usage: 277.3+ MB

In [5]:
# export to csv
all.to_csv("all.csv", index=False)